{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="Polyh, POLYH, PolyH, Polyh International, Digitale, Informatique, Network, Solution, Data Center, Datacenter, Hosting, CRM, Accounting, Serveur, Finance, Banking Solution">
    <meta name="author" content="Polyh International, Just Beleave!">
    <meta name="robots" content="More Near of you, we beleave in your vision and we work with for his accoumplishment.">    
    <meta name="description" content="Polyh International, is a compagny that operate in variows domaine (Software Solutions, Network Solutions, ECommerce, Health, Beauty etc), Just Beleave in us and you will see the impossible be possible.">
    
    <!-- FAVICONS ICON -->
    <link rel="icon" href="{% static 'images/Logo.png' %}" type="image/x-icon">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/Logo.png' %}' %}">
    
    <!-- PAGE TITLE HERE -->
    <title>PolyH | Polyvalent House International</title>
     
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">                                
       
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"><!-- BOOTSTRAP STYLE SHEET -->    
    <link rel="stylesheet" href="{% static 'css/fontawesome/css/font-awesome.min.css' %}"><!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}"><!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}"><!-- MAGNIFIC POPUP STYLE SHEET -->	
    <link rel="stylesheet" href="{% static 'css/loader.min.css' %}"><!-- LOADER STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'css/flaticon.min.css' %}"><!-- FLATICON STYLE SHEET -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}" ><!-- WOW ANIMATE STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'css/feather.css' %}" ><!-- Feather STYLE SHEET -->
    <link rel="stylesheet" href="{% static 'css/lc_lightbox.css' %}"><!-- IMAGE POPUP -->  
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}"><!-- SWIPER SLIDER CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"><!-- MAIN STYLE SHEET -->
    
</head>

<body>
<!-- LOADING AREA START ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="loading">
            <h2><img src="{% static 'images/Logo.png' %}" alt="#"></h2>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->

	<div class="page-wraper"> 
               	
        <!-- HEADER START -->
        <header class="header-style1 site-header  mobile-sider-drawer-menu">
            <div class="top-bar">
                <div class="container">
                    <div class="d-flex justify-content-between  align-content-center">
                        <div class="sx-topbar-left">
                            <ul class="e-p-bx">
                                <li><a href="mailto:contact@polyh-sa.com">contact@polyh-sa.com</a></li>
                                <li><a href="tel:(1)245-45678">(+237) 621 46 88 16 call</a></li>
                            </ul>
                        </div>
                        <div class="sx-topbar-right">
                            <div class="top-bar-nav">
                                <ul>
                                    <li><a href="JavaScript:;">Terms & Condition</a></li>
                                    <li><a href="JavaScript:;">Privacy Policy</a></li>
                                    <li><a href="JavaScript:;">Contact Us</a></li>
                                </ul>
                            </div>

                            <div class="sx-language-dd dropdown">
                                <div class="sl-nav-1">
                                    <div class="sx-language-first sx-title" id="FR"><b>FR</b></div>
                                    <button class="sl-nav-1-btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        En
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <div class="sl-flag">
                                                <div class="c-name">
                                                    <img src="{% static 'images/flag/germany.png' %}" alt="alt">
                                                </div>
                                            </div> 
                                            <span class="active">Germany</span>
                                        </li>
                                        <li>
                                            <div class="sl-flag">
                                                <div class="c-name">
                                                    <img src="{% static 'images/flag/italy.png' %}" alt="alt">
                                                </div>
                                            </div> 
                                            <span class="active">Italy</span>
                                        </li>
                                        <li>
                                            <div class="sl-flag">
                                                <div class="c-name">
                                                    <img src="{% static 'images/flag/spain.png' %}" alt="alt">
                                                </div>
                                            </div> 
                                            <span class="active">Spain</span>
                                        </li>
                                        <li>
                                            <div class="sl-flag">
                                                <div class="c-name">
                                                    <img src="{% static 'images/flag/united-states.png' %}" alt="alt">
                                                </div>
                                            </div> 
                                            <span class="active">USA</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>             
            <div class="sticky-header main-bar-wraper navbar-expand-lg">
                <div class="main-bar">
            
                    <div class="container clearfix">
                        <div class="logo-header">
                            <div class="logo-header-inner logo-header-one">
                                <a href="{% url 'polyh:home'%}">
                                    <img src="{% static 'images/Logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- NAV Toggle Button -->
                        <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar icon-bar-first"></span>
                            <span class="icon-bar icon-bar-two"></span>
                            <span class="icon-bar icon-bar-three"></span>
                        </button> 
                        
                            <!-- EXTRA NAV -->
                            <div class="extra-nav">
                                <div class="extra-cell">
                                    <ul class="list-unstyled social-bx d-flex flex-wrap align-content-center">
                                        <li><a href="https://instagram.com/polyhinternational?utm_source=qr&igshid=OGIxMTE0OTdkZA==" target="_blank"><i class="feather-facebook"></i></a></li>
                                        <li><a href="https://twitter.com/" target="_blank"><i class="feather-twitter"></i></a></li>
                                        <li><a href="https://www.linkedin.com/" target="_blank"><i class="feather-linkedin"></i></a></li>
                                        <li><a href="https://instagram.com/polyhinternational?utm_source=qr&igshid=OGIxMTE0OTdkZA==" target="_blank"><i class="feather-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- EXTRA Nav -->
                                                    
                            <!-- MAIN NAVIGATION -->
                            <div class="header-nav navbar-collapse collapse d-flex justify-content-center collapse ">
                                <ul class=" nav navbar-nav ">
                                    <li class="active">
                                        <a href="{% url 'polyh:home'%}">Home</a>                                                  
                                    </li>

                                    <li>
                                        <a href="javascript:;">Projects</a>
                                        <ul class="sub-menu">
                                            <li><a href="JavaScript:;">PolyH Market</a></li>
                                            <li><a href="JavaScript:;">PolyH Beauty</a></li>
                                            <li><a href="JavaScript:;">PolyH Hotels</a></li>
                                            <li><a href="JavaScript:;">PolyH School</a></li>
                                            <li><a href="JavaScript:;">PolyH Security</a></li>
                                            <li><a href="JavaScript:;">PolyH Academy</a></li>
                                        </ul>                                                
                                    </li>
                                    
                                    <li>
                                        <a href="javascript:;">IT Solutions</a>
                                        <ul class="sub-menu">
                                            <li><a href="JavaScript:;">Software Engineering</a></li> 
                                            <li><a href="JavaScript:;">Network Administration</a></li> 
                                            <li><a href="JavaScript:;">Network Infra Design</a></li> 
                                            <li><a href="JavaScript:;">Cloud Computing</a></li> 
                                            <li><a href="JavaScript:;">PolyH Hosting</a></li> 
                                            <li><a href="JavaScript:;">PolyH E-Mail Exchange</a></li> 
                                            <li><a href="JavaScript:;">Storage</a></li> 
                                            <li><a href="JavaScript:;">Security</a></li> 
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="javascript:;">IT Blogs</a>
                                        <ul class="sub-menu">
                                            <li><a href="JavaScript:;">Blog</a></li>
                                        </ul>
                                    </li>
                                                                        
                                    <li>
                                        <a href="javascript:;">About Us</a>
                                        <ul class="sub-menu">
                                            <li><a href="JavaScript:;">About</a></li>
                                            <li><a href="JavaScript:;">Contact Us</a></li>
                                        </ul>
                                    </li> 

                                    <li>
                                        <a href="JavaScript:;">Support & Help</a>
                                    </li> 

                                </ul>
                            </div>
                                                                                                      
                            
                    </div>
                </div>
            </div>
        </header>
        <!-- HEADER END -->
        
        <!-- CONTENT START -->
        <div class="page-content">
        
            <!--SLIDER BANNER START-->
            <div class="sx-bnr-1-wrap-outer home-1-slider">
    
                <!-- swiper slides -->
                <div class="swiper-wrapper">
                    
                    <div class="sx-bnr-1-wrap swiper-slide overlay-overlay" style="background-image: url({% static 'images/transf.png' %});">
                        <div class="sx-bg-overlay opacity-0 sx-bg-primary"></div>
                        <div class="container">
                            <div class="sx-bnr-1-content">
                                <span class="sx-bnr-1-small-title" data-swiper-parallax="-300">We are Dedicated</span>
                                <h2 class="sx-bnr-1-large-title">inspired and passionate about innovation.</h2>
                                <div class="sx-bnr-1-info">We are always working on feature to making our solution at the cutting edge of technology, for your satisfaction.</div>
                                <div class="sx-bnr-readmore">
                                    <a href="JavaScript:;"  class="site-button sx-btn-primary icon">
                                        <i class="fa  fa-long-arrow-right"></i>
                                        Read More
                                    </a>
                                </div>
                                <div class="sx-bnr-video">
                                    <a href="#" class="mfp-video circle">
                                        <i class="flaticon-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="sx-bnr-text-masking">
                            <div class="light">
                                <h1 class="animate-charcter">Just Beleave...</h1>
                            </div>
                        </div>
                       
                    </div>


                    <div class="sx-bnr-1-wrap swiper-slide overlay-overlay" style="background-image: url({% static 'images/center.png' %});">
                        <div class="sx-bg-overlay opacity-0 sx-bg-primary"></div>
                        <div class="container">
                            <div class="sx-bnr-1-content">
                                <span class="sx-bnr-1-small-title" data-swiper-parallax="-300">We are The best</span>
                                <h2 class="sx-bnr-1-large-title">We are ready To build your digital project.</h2>
                                <div class="sx-bnr-1-info">Our main mission is to be the best software builder team in the world. for that we are 
                                    commited to give to our parteners the most better service. In fact your satisfaction is our priority.
                                </div>
                                <div class="sx-bnr-readmore">
                                    <a href="JavaScript:;"  class="site-button sx-btn-primary icon">
                                        <i class="fa  fa-long-arrow-right"></i>
                                        Read More
                                    </a>
                                </div>
                                <div class="sx-bnr-video">
                                    <a href="#" class="mfp-video circle">
                                        <i class="flaticon-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="sx-bnr-text-masking">
                            <div class="light">
                                <h1 class="sx-title">Time has come</h1>
                            </div>
                        </div>
                       
                    </div>
                    
                </div>
                <!-- !swiper slides -->
                
                 
                 <!-- Add Arrows -->
                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>
            </div>
            <!--SLIDER BANNER END-->

            <!-- OUR SERVICES SECTION START -->
            <div  class="section-full p-t110 p-b80 sx-our-services-outer sx-bg-light" >
                <div class="container">

                    <!-- TITLE START -->
                    <div class="section-head center">
                        <div class="sx-head-s-title">Our Main Services</div>
                        <div class="sx-head-l-title">
                            <h2 class="sx-title">Sophisticated Knowledge For Rapidly Emerging Legal service of Our Team!</h2>
                        </div>
                    </div>                   
                    <!-- TITLE END --> 


						<div class="section-content">
                        	<div class="sx-our-services-bx">
                                <div class="row">

                                    <!-- Block one -->
                                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                                        <div class="sx-service-bx-1">
                                            <div class="sx-icon-box-wraper">
                                                <div class="sx-service-bx-icon scale-in-center">
                                                    <span class="sx-text-primary"><i class="fa fa-code"></i></span>
                                                </div>
                                                <div class="icon-content">
                                                    <h4 class="sx-tilte">PolyH Engineering</h4>
                                                    <p>Amount the various solutions we propose to you, we work on your live circle project. Our team are ready to take over from the conception to the implementation of your work.</p>
                                                    <div class="sx-center-btn">
                                                        <a href="JavaSccript:void()" class="site-button-circle">
                                                            <i class="fa fa-long-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                            	
                                    </div>
                                    <!-- Block Two -->
                                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                                        <div class="sx-service-bx-1">
                                            <div class="sx-icon-box-wraper">
                                                <div class="sx-service-bx-icon scale-in-center">
                                                    <span class="sx-text-primary"><i class="fa fa-shopping-cart"></i></span>
                                                </div>
                                                <div class="icon-content">
                                                    <h4 class="sx-tilte">PolyH Market</h4>
                                                    <p>With Our Mega E-Commerce Plateform you can sell, buy and expand your community. We help you to build to increase your
                                                        Business through high Technologies, Security and Stratégies. 
                                                    </p>
                                                    <div class="sx-center-btn">
                                                        <a href="JavaSccript:void()" class="site-button-circle active">
                                                            <i class="fa fa-long-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                            	
                                    </div>
                                    
                                    <!-- Block Three -->
                                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                                        <div class="sx-service-bx-1">
                                            <div class="sx-icon-box-wraper">
                                                <div class="sx-service-bx-icon scale-in-center">
                                                    <span class="sx-text-primary"><i class="fa fa-stethoscope"></i></span>
                                                </div>
                                                <div class="icon-content">
                                                    <h4 class="sx-tilte">PolyH Health & Beauty</h4>
                                                    <p>PolyH Health & Beauty is a cosmetic analysis laboratory providing multiples solutions to handle skin problems and more... </p>
                                                    <div class="sx-center-btn">
                                                        <a href="JavaSccript:void()" class="site-button-circle">
                                                            <i class="fa fa-long-arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>                            	
                                    </div>
                                    
                                    


                                </div>
                            </div>
                       </div>
                 </div>
               
            </div>   
            <!-- OUR SERVICES SECTION END -->

            <!-- ABOUT COMPANY START -->
            <div  class="section-full  p-t110 p-b80 sx-bg-white sx-about-bx1-outer" >
                <div class="container">
                    <div class="section-content">
                        <div class="sx-about-bx1-content-wrap">
                            <div class="row">
                            
                                <div class="col-lg-6 col-md-12 wow fadeInDown" data-wow-duration="1000ms">
                                    <div class="sx-about-bx1-media">
                                        <div class="sx-dot-bx"><img src="{% static 'images/about/dotted-pic.png' %}" alt="image"></div>
                                        <div class="sx-ab-img-outer">
                                            <div class="sx-ab-img-section-1-wrap">
                                                <div class="sx-ab-video">
                                                    <a href="#" class="mfp-video circle">
                                                        <i class="flaticon-play"></i>
                                                    </a>
                                                </div>
                                                <div class="sx-ab-img-section-1" style="background-image:url({% static 'images/about/left-pic.png' %})"></div>
                                            </div>
                                            
                                            <div class="sx-ab-img-section-2">
                                                <img src="{% static 'images/about/p1.jpg' %}" alt="image">
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-md-12 wow fadeInDown" data-wow-duration="1000ms">
                                    <div class="sx-about-bx1-content">
                                        <h2 class="sx-title">That's why we're list of favorites.</h2>

                                        <span class="sx-title-2">Our common values.</span>

                                        <p>We always work hard to build a solid trust between our parteners and us.</p>

                                        <div class="progress">
                                            <div class="progress-bar sx-bg-primary" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"><span>50.00% Work Success</span></div>
                                        </div> 
                                        
                                        <div class="row sx-about-bx1-column">
                                            <div class="col-lg-12 col-md-12">
                                                <p>Sustainability : Our few years of experience have enabled us to build solutions with very extensive functionalities, 
                                                    integrating long-lasting components, from recognized, safe and solid partners.</p>
                                                
                                                <p>Compliance with commitments : Whatever the projects entrusted to us, we have always gone to the end, 
                                                    thus ensuring a good reputation with the demanding.</p>
                                                
                                                <p>Listen : The quality of listening of our employees 
                                                    is the main vector of the success of your 
                                                    projects and contributes to strengthening your performance.</p>

                                                
                                                <p>Reactivity : Because your information system is essential for the management of your business, 
                                                    PolyH provides you with all the technical 
                                                    and human resources to bring you responsiveness and efficiency.</p>
                                                
                                                <p>Innovation : For optimize the producty of your work tool, PolyH is committed to an 
                                                    innovation process by investing a lot of time in research and development focused on 
                                                    user-oriented ergonomics and user-experience.</p>

                                                <p>Methodology : Since the strategy used is a fundamental asset for the success, 
                                                    PolyH applies the agile method, both for the development of its products and for the management of customer projects. 
                                                    This method allows flexibility and adaptability throughout the projects and thus brings a result closer to the customer's need.</p>
                                            </div>
                                        </div>

                                    </div>                                  
                                </div> 

                                
                            </div>
                        </div>

                        <!-- COUNTER START -->
                        <div class="counter-blocks">
                            <div class="row when-item-four">
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                    <div class="sx-count">
                                        <h2 class="sx-title">
                                            <span class="sx-cont-before">+</span>
                                            <span class="counter">10</span>
                                        </h2>
                                        <div class="sx-count-info">Our Team Member</div>
                                    </div> 
                                </div>
                                
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                    <div class="sx-count">
                                        <h2 class="sx-title">
                                            <span class="sx-cont-before">+</span>
                                            <span class="counter">15</span>
                                        </h2>
                                        <div class="sx-count-info">Our Total Project</div>
                                    </div>
                                </div>
                                
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                    <div class="sx-count">
                                        <h2 class="sx-title">
                                            <span class="sx-cont-before">+</span>
                                            <span class="counter">7</span>
                                        </h2>
                                        <div class="sx-count-info">Our Parteners</div>
                                    </div> 
                                </div>
                                
                                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                    <div class="sx-count">
                                        <h2 class="sx-title">
                                            <span class="sx-cont-before">+</span>
                                            <span class="counter">50</span>
                                        </h2>
                                        <div class="sx-count-info">Our Customers</div>
                                    </div> 
                                </div>                                                                      
                            </div>
                        </div>                                   
                         <!-- COUNTER  END --> 
                    </div>   
           
                 </div>
               
            </div>   
            <!-- ABOUT COMPANY END -->

            <!-- WHY CHOOSE-US SECTION START -->
            <div  class="section-full p-t110 p-b80 sx-why-chooseus-outer sx-bg-light bg-cover" style="background-image:url({% static 'images/background/bg-1.jpg' %});">
                <div class="container">

                    <!-- TITLE START -->
                    <div class="section-head center">
                        <div class="sx-head-s-title">Why Choose Us</div>
                        <div class="sx-head-l-title">
                            <h2 class="sx-title">Our Work Services</h2>
                        </div>
                    </div>                   
                    <!-- TITLE END --> 


						<div class="section-content">
                        	<div class="sx-icon-bx-wrap">
                                <div class="row">

                                    <!-- Block one -->
                                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                                        <div class="sx-icon-bx-1">
                                            <div class="sx-icon-box-wraper">
                                                <div class="sx-icon-bx-icon ">
                                                    <span class="sx-text-primary"><i class="fa fa-handshake-o"></i></span>
                                                </div>
                                                <div class="icon-content">
                                                    <a href="JavaSccript:void()"><h4 class="sx-tilte">Digital Consulting</h4></a>
                                                    <p>We put our expertise at your service to optimize the income of your activity.</p>
                                                </div>
                                            </div>
                                        </div>                            	
                                    </div>
                                    <!-- Block Two -->
                                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                                        <div class="sx-icon-bx-1">
                                            <div class="sx-icon-box-wraper">
                                                <div class="sx-icon-bx-icon ">
                                                    <span class="sx-text-primary"><i class="fa fa-graduation-cap"></i></span>
                                                </div>
                                                <div class="icon-content">
                                                    <a href="JavaSccript:void()"><h4 class="sx-tilte">School Management</h4></a>
                                                    <p>We support you in the digitization of your school.</p>
                                                </div>
                                            </div>
                                        </div>                            	
                                    </div>
                                    
                                    <!-- Block Three -->
                                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                                        <div class="sx-icon-bx-1">
                                            <div class="sx-icon-box-wraper">
                                                <div class="sx-icon-bx-icon ">
                                                    <span class="sx-text-primary"><i class="fa fa-bed"></i></span>
                                                </div>
                                                <div class="icon-content">
                                                    <a href="JavaSccript:void()"><h4 class="sx-tilte">Hotels Management</h4></a>
                                                    <p>We support you in the digitization of your Hotel.</p>
                                                </div>
                                            </div>
                                        </div>                            	
                                    </div>

                                    <!-- Block Four -->
                                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                                        <div class="sx-icon-bx-1">
                                            <div class="sx-icon-box-wraper">
                                                <div class="sx-icon-bx-icon ">
                                                    <span class="sx-text-primary"><i class="fa fa-line-chart"></i></span>
                                                </div>
                                                <div class="icon-content">
                                                    <a href="JavaSccript:void()"><h4 class="sx-tilte">Accounting & Finance</h4></a>
                                                    <p>With our news ERP project you are able to handle various accounting and financial activities. Comming soon...</p>
                                                </div>
                                            </div>
                                        </div>                            	
                                    </div>

                                    <!-- Block Five -->
                                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                                        <div class="sx-icon-bx-1">
                                            <div class="sx-icon-box-wraper">
                                                <div class="sx-icon-bx-icon ">
                                                    <span class="sx-text-primary"><i class="fa fa-stethoscope"></i></span>
                                                </div>
                                                <div class="icon-content">
                                                    <a href="JavaSccript:void()"><h4 class="sx-tilte">Health & Beauty</h4></a>
                                                    <p>Resolve your skin problems by using our various 100% natural solutions. Stay Beautiful and Natural all the time.</p>
                                                </div>
                                            </div>
                                        </div>                            	
                                    </div>

                                    <!-- Block SIx -->
                                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                                        <div class="sx-icon-bx-1">
                                            <div class="sx-icon-box-wraper">
                                                <div class="sx-icon-bx-icon ">
                                                    <span class="sx-text-primary"><i class="fa fa-database"></i></span>
                                                </div>
                                                <div class="icon-content">
                                                    <a href="JavaSccript:void()"><h4 class="sx-tilte">Hosting & Storage</h4></a>
                                                    <p>Subscribe to our hosting package and take advantage of multiple promotions and sub-services.</p>
                                                </div>
                                            </div>
                                        </div>                            	
                                    </div>

                                    <!-- Block SIx -->
                                    <div class="col-lg-4 col-md-6 wow fadeInDown" data-wow-duration="1000ms">
                                        <div class="sx-icon-bx-1">
                                            <div class="sx-icon-box-wraper">
                                                <div class="sx-icon-bx-icon ">
                                                    <span class="sx-text-primary"><i class="fa fa-envelope"></i></span>
                                                </div>
                                                <div class="icon-content">
                                                    <a href="JavaSccript:void()"><h4 class="sx-tilte">PolyH E-Mail Exchange</h4></a>
                                                    <p>Your Professionnal Email Address Available. Souscribe now!</p>
                                                </div>
                                            </div>
                                        </div>                            	
                                    </div>
                                    
                                    


                                </div>
                            </div>
                       </div>
                 </div>
               
            </div>   
            <!-- WHY CHOOSE-US SECTION END -->

            <!-- VIDEO SECTION START -->
            <div class="section-full sx-video-1-outer  bg-cover" style="background-image:url({% static 'images/vid-1-bg.png' %})">
                <div class="sx-bg-overlay"></div>
                <div class="container">
                    
                    <div class="sx-vodeo-section text-center">
                        <h2 class="sx-large-title ">Resume about Polyvalent House International</h2>
                        <div class="sx-video-btn-wrap">
                            <a href="#" class="mfp-video circle">
                                <i class="flaticon-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
			<!-- VIDEO SECTION START -->

               <!-- LATEST BLOG START -->
              <!-- <div class="section-full p-t110 p-b80 sx-bg-white sx-latest-blog-outer wow fadeInDown" data-wow-duration="1000ms">-->
                <!-- <div class="container">-->

                    <!-- TITLE START 
                    <div class="section-head center">
                        <div class="sx-head-s-title">Our Blogs</div>
                        <div class="sx-head-l-title">
                            <h2 class="sx-title">Our Latest News</h2>
                        </div>
                    </div>                   
                    TITLE END -->

                    <!--<div class="section-content">
                        <div class="owl-carousel sx-latest-blog-1-carousel m-b30">-->
                            <!--One block
                            <div class="item">
                                <div class="sx-latest-post-st-1">
                                
                                    <div class="sx-post-media sx-img-effect img-reflection">
                                        <a href="blog-detail-full.html"><img src="{% static 'images/blog/blog-grid/pic1.jpg' %}" alt=""></a>
                                    </div>
                                    
                                    <div class="sx-post-info p-t30">
                                        <div class="sx-post-meta ">
                                            <ul>
                                                <li class="post-date"><a href="blog-detail-full.html"><i class="fa fa-calendar"></i>01 Jan 2023</a></li>
                                                <li class="post-author"><a href="blog-detail-full.html"><i class="fa fa-comments"></i>0 Comments</a></li>
                                            </ul>
                                        </div>                             
                                        <div class="sx-post-title ">
                                            <h4 class="post-title"><a href="blog-detail-full.html">Standard size of business agency kal Consulat Latest Management.</a></h4>
                                        </div>
                                        <div class="sx-post-readmore">
                                             <a href="blog-detail-full.html" title="READ MORE" rel="bookmark" class="site-button icon"><i class="fa  fa-long-arrow-right"></i>Read More</a>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            One two-->
                            
                        <!--</div>
                    </div>
                </div>

                
            </div>   --> 
            <!-- LATEST BLOG  END --> 

            <!-- OUR CLIENTS -->
            <div class="section-full p-t110 p-b80 sx-bg-primary sx-client-logo-2-outer">
            	
				<div class="container">              
					<!-- TITLE START -->
                    <div class="section-head center">
                        <div class="sx-head-l-title">
                            <h2 class="sx-title partenertitle">Our Parteners</h2>
                        </div>
                    </div>                   
                    <!-- TITLE END -->
					<!--<div class="section-content">
                    	<div class="client-logo-pic2-wrap">
                        	<div class="row justify-content-center grid-5 ">
								
                                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                                    <a href="JavaScript:;" class="client-logo-pic2">
                                        <img src="{% static 'images/client-logo/white/client-logo-1.png' %}" alt="">
                                    </a>
                                </div>
								
                                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                                    <a href="JavaScript:;" class="client-logo-pic2">
                                        <img src="{% static 'images/client-logo/white/client-logo-2.png' %}" alt=""> 
                                    </a>
                                </div>
								
                                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                                    <a href="JavaScript:;" class="client-logo-pic2">
                                        <img src="{% static 'images/client-logo/white/client-logo-3.png' %}" alt="">
                                    </a>
                                </div>
								
                                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                                    <a href="JavaScript:;" class="client-logo-pic2">
                                        <img src="{% static 'images/client-logo/white/client-logo-4.png' %}" alt=""> 
                                    </a>
                                </div>

                                <div class="col-lg-2 col-md-4 col-sm-4 col-4">
                                    <a href="JavaScript:;" class="client-logo-pic2">
                                        <img src="{% static 'images/client-logo/white/client-logo-5.png' %}" alt=""> 
                                    </a>
                                </div>
								
                            </div>
                        </div>
                    </div>-->

                </div>
                
                  
             </div>   
            <!-- OUR CLIENTS END -->
			
        
        </div>
        <!-- CONTENT END -->
        
        <!-- FOOTER START -->
        <footer class="site-footer footer-dark">
            <!-- FOOTER BLOCKES START -->  
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <!-- ABOUT COMPANY -->
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">  
                            <div class="widget widget_about">
                                <div class="logo-footer clearfix p-b15">
                                    <a href="{% url 'polyh:home'%}" class="sx-text-primary"><img src="{% static 'images/Logo.png' %}" alt="image"></a>
                                </div>
                                <p>
                                    Polyvalent House International have a principal objectif, to improve  
                                    the productivity of your company and activity there by making solutions that can satisfy the 
                                    most your need in variows aspects (Finance, Accounting, Customer Relationship Management, 
                                Restaurant, E-Commerce, Health, Beauty...)
                                </p>
                                <div class="widget_about-call-section">
                                    <div class="sx-f-call-icon"><i class="flaticon-telephone"></i></div>
                                    <div class="sx-f-call-section">
                                        <span>Contact us 24/7</span>
                                        <a href="tel:+23751863452">+237 621 46 88 16</a>
                                    </div>
                                </div>
							</div>
                        </div> 
                        
                        <!-- EXPLORE LINKS -->
                        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 col">

                            <div class="widget widget_services">
                                <h4 class="sx-f-title">Explore</h4>
                                <ul>
                                    <li><a href="JavaScript:;">Our Services</a></li>
                                    <li><a href="JavaScript:;">Meet Our Team</a></li>
                                    <li><a href="JavaScript:;">News</a></li>
                                </ul>
                            </div>							                          
                        </div> 
                        
                        <!-- USEFUL LINK -->
                        <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-6 col">

                            <div class="widget widget_services">
                                <h4 class="sx-f-title">About Us</h4>
                                <ul>
                                    <li><a href="JavaScript:;">Mission &amp; Vision</a></li>
                                    <li><a href="JavaScript:;">Why Choose Us</a></li>
                                </ul>
                            </div>							                          
                        </div>
                                             
                        <!-- Contacts -->
                        <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 col-12 col footer-col-3">
                            <div class="widget widget_info">
                                <h4 class="sx-f-title">Contact Us</h4>
                                <ul>
                                    <li>
                                        <div class="widget-info-icon">
                                            <i class="flaticon-phone"></i>
                                        </div>
                                        <div class="widget-info-detail">
                                            <a href="tel:+237621468816">+ 237 621 46 88 16</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="widget-info-icon">
                                            <i class="flaticon-email"></i>
                                        </div>
                                        <div class="widget-info-detail">
                                            <p>contact@polyh-sa.com</p>
                                        </div>
                                    </li>
                                    
                                    <li>
                                        <div class="widget-info-icon">
                                            <i class="flaticon-maps-and-flags"></i>
                                        </div>
                                        <div class="widget-info-detail">
                                            <p>Douala, Cameroun.</p>
                                        </div>
                                    
                                    
                                    </li>
                                </ul>
                            </div>                           
                        </div>
                        
                        <!-- CONTACT US -->
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="widget widget_insta-gallery">
                                <h4 class="sx-f-title">Instagram</h4>
                                <ul>
                                    <li>
                                        <div class="sx-f-insta">
                                            <a href="javascript:;">
                                                <img src="{% static 'images/f-insta/pic1.jpg' %}" alt="Image">
                                                <i class="feather-instagram"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sx-f-insta">
                                            <a href="javascript:;">
                                                <img src="{% static 'images/f-insta/pic2.jpg' %}" alt="Image">
                                                <i class="feather-instagram"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sx-f-insta">
                                            <a href="javascript:;">
                                                <img src="{% static 'images/f-insta/pic3.jpg' %}" alt="Image">
                                                <i class="feather-instagram"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sx-f-insta">
                                            <a href="javascript:;">
                                                <img src="{% static 'images/f-insta/pic4.jpg' %}" alt="Image">
                                                <i class="feather-instagram"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sx-f-insta">
                                            <a href="javascript:;">
                                                <img src="{% static 'images/f-insta/pic5.jpg' %}" alt="Image">
                                                <i class="feather-instagram"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sx-f-insta">
                                            <a href="javascript:;">
                                                <img src="{% static 'images/f-insta/pic6.jpg' %}" alt="Image">
                                                <i class="feather-instagram"></i>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div> 
                        </div>                          

                    </div>
                </div> 

                
                                 
            </div>
            
            <div class="sx-f-bottom-section">
                <div class="sx-f-social">
                    <ul>
                        <li>
                            <a href="https://www.facebook.com/" target="_blank">
                                <i class="flaticon-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/" target="_blank">
                                <i class="flaticon-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <i class="flaticon-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/" target="_blank">
                                <i class="flaticon-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="sx-f-copy">
                    © <span class="copydate"></span> by <a href="polyh-sa.com">PolyH.</a> All rights reserved.
                </div>
            </div>
            <!-- FOOTER COPYRIGHT -->
        </footer>
        <!-- FOOTER END -->

        <!-- BUTTON TOP START -->
		<button class="scroltop"><span class="fa fa-angle-up  relative" id="btn-vibrate"></span></button>
              
    
    </div>



<!-- JAVASCRIPT  FILES ========================================= --> 
<script src="{% static 'js/jquery-3.6.1.min.js.js' %}"></script><!-- JQUERY.MIN JS -->
<script src="{% static 'js/popper.min.js' %}"></script><!-- POPPER.MIN JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script><!-- BOOTSTRAP.MIN JS -->
<script src="{% static 'js/magnific-popup.min.js' %}"></script><!-- MAGNIFIC-POPUP JS -->
<script src="{% static 'js/waypoints.min.js' %}"></script><!-- WAYPOINTS JS -->
<script src="{% static 'js/counterup.min.js' %}"></script><!-- COUNTERUP JS -->
<script src="{% static 'js/waypoints-sticky.min.js' %}"></script><!-- sticky header JS -->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script><!-- MASONRY  -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script><!-- OWL  SLIDER  -->
<script src="{% static 'js/theia-sticky-sidebar.js' %}"></script><!--sticky content-->
<script src="{% static 'js/wow.js' %}"></script><!-- WOW JS -->
<script src="{% static 'js/lc_lightbox.lite.js' %}" ></script><!-- IMAGE POPUP -->
<script src="{% static 'js/swiper-bundle.min.js' %}"></script><!-- Swiper js -->
<script>    
	var data = new Date();
    $('.copydate').text(data.getFullYear());
</script>


<script src="{% static 'js/custom.js' %}"></script><!-- CUSTOM FUCTIONS  -->


</body>
</html>
